/* General */

body {
    font-family: "Montserrat";
    text-align: center;
}

.big-container {
    padding: 3% 15% 7%;
}

html {
    scroll-behavior: smooth;
}


/* End General */


/* Heading */

.big-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: "Montserrat";
    font-weight: 900;
}


/* End Heading */


/* Title Section */

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}


/* Nav Bar */

#container-navbar {
    padding: 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

.navbar {
    padding: 0 0 4.5rem;
}


/* Download Buttons */

.download-btn {
    margin: 5% 3% 5%;
}


/* Title IMG */

.title-img {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    left: 55%;
}


/* End Title */


/* Features Section */

#features {
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
}

.feature-title {
    font: 1.5rem;
}

.feature-box {
    padding: 4.4%;
}

p {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* End Features */


/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 10%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* End Testimonials */


/* Press */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}


/* End Press*/


/* Pricing */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* End Pricing */


/* Call to action */

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 10%;
}

#footer {
    padding: 7% 10%;
}

.social-icon {
    margin: 20px 10px;
}


/* End Call to Action */


/* Medias */

@media (max-width:1156px) {
    .title-img {
        position: static;
        transform: rotate(0);
        width: 80%;
    }
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
}